#navout
{
    display: flex;
    background-color: aqua;
}

#divout
{
    display: flex;
    background-color: beige;
    gap: 20px;
    margin-left: 400px;
    width: 1000px;
}

#ptxt
{
    padding-top: 30px;
    font-size: 1.5rem;
}

#pimg
{
    border-radius: 60px;
}

#adiv
{
    display: flex;
    gap: 40px;
    padding-top: 60px;
    padding-left: 20px;
    width: 750px;
    
}


#seca
{
    width: 250px;
    
}
#seca>a{
    margin-right: 15px;
}