p
{
    padding: 20px;
    font-size: 1.3rem;
    background-color: aquamarine;
    border-radius: 20px;
}

p>a
{
    text-decoration: none;
    font-size: 3rem;
}

div
{
    margin: 40px;
}

a:link
{
    color: red;
}

a:visited
{
    color: green;
}

a:active
{
    color: rgb(214, 211, 17);
}

a:hover
{
    color: blueviolet;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
}

p:hover{
    background-color: bisque;
}