* {
    margin: 0px;
}

#nav13 {
    display: flex;
}

#nav11 {
    opacity: 0.9;
    font-family: 'Patrick Hand SC', cursive;
    color: #360f0f;
    margin: 0px;
    height: 100px;
    width: 15%;
    padding-top: 20px;
    background-image: url(logo.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div11 {
    font-size: 1.3rem;
    margin-top: -18px;
}

#nav12 {
    padding-top: 50px;
    display: flex;
    gap: 350px;
    width: 1100px;
    background-color: #360f0f;
}

#div12 {
    padding-top: 10px;
    padding-left: 50px;
}

#div12>a {
    padding-right: 40px;
    color: rgb(253, 253, 253);
    text-decoration: none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#sec11 {
    height: 500px;
    background-image: url(head2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#table11 {
    padding-top: 70px;
    background-color: #360f0f;
}

#td11 {
    font-family: 'Salsa', cursive;
    padding-top: 50px;
    color: rgb(253, 253, 253);
    font-size: 3.0rem;
    width: 50%;
}

#sec12 {
    background: linear-gradient(to bottom right, #431c1c, rgb(237, 196, 12));
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -1130px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}

/* rgb(237, 196, 12) */
#sec12:hover {
    background-color: #360f0f;
    color: rgb(253, 253, 253);
}

#sec13 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 0px;
    background-color: #360f0f;
}

.button-62 {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Salsa', cursive;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.0;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-bottom: 10px;
}

.button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.div13 {
    /* background-color: #FF9A5A; */
    margin-left: 140px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 150px;
}

.div13>img {
    width: 50%;
}

.div13>h1 {
    padding-top: 10px;

}

.p12 {
    font-size: 1.2rem;
    color: rgb(253, 253, 253);
    padding-left: 30px;
    padding-bottom: 0px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#sec14 {
    margin-top: 1080px;
    background-color: #360f0f;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
}

#h11 {
    color: rgb(253, 253, 253);
}

.h12 {
    color: rgb(237, 196, 12);
    font-size: 1.2rem;
}

#nav14 {
    opacity: 0.9;
    font-family: 'Patrick Hand SC', cursive;
    color: #360f0f;
    margin-left: 0px;
    height: 100px;
    width: 300%;
    padding-top: 20px;
    background-image: url(logo.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.td11 {
    /* background-color: #FF9A5A; */
    text-transform: uppercase;
}

.td12 {
    padding-left: 300px;
    align-items: center;
    align-self: center;
    align-content: center;
    /* background-color: #FF9A5A; */


}

.td13 {
    /* background-color: #FF9A5A; */
    padding-left: 200px;
    padding-right: px;
    margin-left: 500px;
    text-transform: uppercase;
    padding-bottom: 90px;
    font-size: 0.8rem;
}

.social-icon1 {
    font-size: 20px;
    /* Adjust the size as needed */
    color: #3b5998;
    /* Change the color to match the social media brand color */
}

.social-icon2 {
    font-size: 20px;
    /* Adjust the size as needed */
    color: #3b5998;
    /* Change the color to match the social media brand color */
}

.social-icon3 {
    font-size: 20px;
    /* Adjust the size as needed */
    color: #f7487c;
    /* Change the color to match the social media brand color */
}

#div14 {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #360f0f;
}

#img1 {
    border-radius: 100px;
    width: 25%;
}

#sec21 {
    display: flex;
    background-color: #360f0f;
    padding-top: 30px;
}


#p21 {
    padding-left: 50px;
    font-family: 'Patrick Hand SC', cursive;
    color: rgb(253, 253, 253);
    text-shadow: 2px 2px 5px rgba(110, 203, 229, 0.5);
}

#div21 {
    /* background-color: #EF4765; */
    width: 50%;
    padding-left: 570px;
}

#div22 {
    padding-top: 30px;
    padding-right: 50px;
}

#sec22 {
    padding-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #360f0f;
}

#div23 {
    background-color: #360f0f;
    color: rgb(253, 253, 253);
    font-family: 'Patrick Hand SC', cursive;
    padding-right: 40px;
    margin-right: 150px;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 3rem;
}

#div24 {
    padding-left: 200px;
}

#div24>img {
    width: 50%;
}

.div25>img {
    width: 50%;
}

#sec24 {
    background-color: #360f0f;
}

#sec23 {
    padding-top: 80px;
    background-image: url(head2.png);
    background-repeat: no-repeat;
    height: 400px;
}

.nav21 {
    background: linear-gradient(to bottom right, #431c1cde, rgb(237, 196, 12));
    margin-left: 280px;
    margin-right: 260px;
    border-radius: 20px;
    padding-bottom: 10px;

}

#p24>img {
    width: 40%;
}

.nav21>p {
    padding-left: 10px;
    padding-right: 10px;
}

#div26 {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #360f0f;
}

.p22 {
    font-size: 1.2rem;
    color: rgb(253, 253, 253);
    padding-left: 80px;
    padding-bottom: 0px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#p23 {
    font-size: 1.2rem;
    color: rgb(253, 253, 253);
    padding-left: 41px;
    padding-bottom: 0px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#sec31 {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-left: 500px;
}

#div31 {

    width: 60%;
}

#div31>img {
    width: 100%;
    height: 130px;
    border-radius: 70px;
}

#div32>p {


    font-family: 'Patrick Hand SC', cursive;
    color: rgb(253, 253, 253);
    font-size: 1.5rem;
}

#nav31 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #360f0f;
    padding-top: 20px;
}

#sec32 {
    margin-left: 350px;

}

.button-62 {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Salsa', cursive;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.0;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-bottom: 10px;
}

.button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

#sec33 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding-top: 100px;
    background-color: #360f0f;
}

#div33 {
    margin-right: 300px;
    transform: rotate(315deg);
    font-family: 'Patrick Hand SC', cursive;
    font-size: 3rem;
    color: rgb(253, 253, 253);

}

#div34 {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 4rem;
    color: rgb(253, 253, 253);

}

#div35 {
    margin-left: 300px;
    transform: rotate(45deg);
    font-family: 'Patrick Hand SC', cursive;
    font-size: 3rem;
    color: rgb(253, 253, 253);

}

#sec34 {
    background-color: #360f0f;
}

#sec34>p {
    padding-left: 20px;
}

#sec35 {
    padding-top: 30px;
    background-color: #360f0f;
}

#div36 {
    border-radius: 20px;
    margin-left: 350px;
    margin-right: 350px;
    background: linear-gradient(to bottom right, #431c1cde, rgba(237, 196, 12, 0.938));
}

#p31 {
    padding-top: 10px;
    font-size: 1.6rem;
    font-family: 'DM Serif Display', serif;
}

#p32 {
    padding-top: 10px;
    font-size: 1.3rem;
    padding-bottom: 10px;
    font-family: 'DM Serif Display', serif;
}

#p33 {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Nanum Myeongjo', serif;
}

#p34>img {
    width: 45%;
}

#sec41 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px;
}

#div41 {
    background-color: #360f0f;
    width: 20%;
}

#div41>img {
    width: 100%;
    border-radius: 10px;
}

#p41 {

    font-family: 'Patrick Hand SC', cursive;
    font-size: 3rem;
    color: rgb(253, 253, 253);

}

#nav41 {
    display: flex;
    align-items: center;
    background-color: #360f0f;
}

#sec42 {
    padding-left: 100px;
}

#nav42 {
    background-color: #360f0f;
}

#nav42>p {
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 4rem;
    color: rgb(253, 253, 253);
}

#nav43 {
    padding-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    margin-left: 100px;
    background-color: #360f0f;
}

#nav44 {
    background-color: #360f0f;
}

#sec43 {
    padding-top: 250px;
    background-color: #360f0f;
}

#sec44 {
    padding: 20px;
    border-radius: 20px;
    background-color: #360f0f;
    width: 50%;
    background: linear-gradient(to bottom right, #431c1cde, rgba(237, 196, 12, 0.928));

}

#sec44>div>img {
    width: 70%;
}

#div42 {
    width: 100%;
    font-family: 'Nanum Myeongjo', serif;
}

.p42 {
    color: rgb(253, 253, 253);
    font-size: 1.6rem;
    font-family: 'DM Serif Display', serif;
}

#div43 {
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #360f0f;
}

.p43 {
    font-size: 1.2rem;
    color: rgb(253, 253, 253);
    padding-left: 80px;
    padding-bottom: 0px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#sec51 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 100px;
    align-items: center;
    background-color: #360f0f;
}

#div52 {
    margin-right: 385px;
    font-size: 1.5rem;
    color: rgb(253, 253, 253);
}

#div51 {
    width: 30%;
}

#div51>img {
    width: 100%;
    margin: 20px;
}

#div53>a {
    /* margin: 20px; */
    padding-right: 40px;
}

#p51 {
    padding-top: 50px;
    padding-bottom: 10px;
    color: rgb(253, 253, 253);
    font-size: 1.6rem;
    font-family: 'DM Serif Display', serif;
}

#div54 {
    padding-top: 10px;
    color: rgb(253, 253, 253);
    font-size: 1.6rem;
    font-family: 'DM Serif Display', serif;
}

#sec52 {
    background-color: #360f0f;
}

#sec53 {
    display: flex;
    background-color: #360f0f;

}

#div55>img {
    padding-top: 50px;
    margin-left: 100px;
    width: 50%;
    border-radius: px;
}

#div56 {
    background: linear-gradient(to top left, #431c1cde, rgba(237, 196, 12, 0.928));
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 100px;
    border-radius: 20px;
    font-family: 'Nanum Myeongjo', serif;
}

#div56>p {
    padding: 20px;
}

#p52>img {
    height: 400px;
}

#sec61 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 100px;
    align-items: center;
    background-color: #360f0f;
}

#div62 {
    margin-right: 385px;
    font-size: 1.5rem;
    color: rgb(253, 253, 253);
}

#div61 {
    width: 30%;
}

#div61>img {
    width: 100%;
    margin: 20px;
}

#div63>a {
    /* margin: 20px; */
    padding-right: 40px;
}

#sec62 {
    background-image: url(head2.png);
    height: 450px;

}

#p61 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 3rem;
    color: rgb(253, 253, 253);
    font-size: 2.5rem;
    font-family: 'DM Serif Display', serif;

}

#sec63 {
    background-color: #360f0f;
    padding-top: 50px;
}

#p62 {
    margin-top: 30px;
    background-color: #360f0f;
    width: 50%;
    padding: 20px;
    margin-left: 300px;
    color: rgb(253, 253, 253);
    font-family: 'Nanum Myeongjo', serif;
}

#p63>img {
    padding-top: 30px;
    width: 30%;
    padding-left: 450px;

}

.h161 {
    color: rgb(253, 253, 253);
    font-size: 1.6rem;
    font-family: 'DM Serif Display', serif;

}

#sec64 {
    background-color: #360f0f;
}

.button-81 {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 20px;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-81:hover {
    background-color: #1e293b;
    color: #fff;
}

@media (min-width: 768px) {
    .button-81 {
        font-size: 1.125rem;
        padding: 0.7rem 2rem;
    }
}

#sec71 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 100px;
    align-items: center;
    background-color: #360f0f;
}

#div72 {
    margin-right: 385px;
    font-size: 1.5rem;
    color: rgb(253, 253, 253);
}

#div71 {
    width: 30%;
}

#div71>img {
    width: 100%;
    margin: 20px;
}

#div73>a {
    /* margin: 20px; */
    padding-right: 40px;
}

#sec72 {
    background-color: #360f0f;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

#sec72>div>img {
    width: 100%;
}

#p71 {
    color: rgb(253, 253, 253);
    font-size: 2.5rem;
    font-family: 'DM Serif Display', serif;

}

#sec73 {
    padding-top: 50px;
    background-color: #360f0f;
}

#sec74 {
    padding-top: 50px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    gap: 100px;
}

#p72>img {
    width: 300%;
    height: 300px;
}

#p73>img {
    width: 30%;
    height: 200px;
}

#div74 {
    margin-left: 50px;
    margin-right: 50px;
}

#p74 {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    color: rgb(253, 253, 253);
    font-family: 'Nanum Myeongjo', serif;

}

#sec75 {
    background-color: #360f0f;
}

.p75 {
    color: rgb(253, 253, 253);
    font-size: 1.6rem;
    font-family: 'DM Serif Display', serif;

}

#sec81 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 100px;
    align-items: center;
    background-color: #360f0f;
}

#div82 {
    margin-right: 385px;
    font-size: 1.5rem;
    color: rgb(253, 253, 253);
}

#div81 {
    width: 30%;
}

#div81>img {
    width: 100%;
    margin: 20px;
}

#div83>a {
    /* margin: 20px; */
    padding-right: 40px;
}

#sec82 {
    background-color: #360f0f;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    gap: 150px;
    justify-content: space-evenly;
    padding-top: 50px;
}

#sec83 {
    background-color: #360f0f;
}

#div84 {
    padding-top: 50px;
    width: 30%;
    color: rgb(253, 253, 253);
    font-size: 1.6rem;
    font-family: 'DM Serif Display', serif;

}

#div85 {
    padding-top: 100px;
    width: 50%;
    color: rgb(253, 253, 253);
    font-size: 1.6rem;
    font-family: 'DM Serif Display', serif;

}

#div86 {
    padding-top: 150px;
}

#div86>p>img {
    width: 30%;
    padding-bottom: 10px;
}

#p81 {
    color: rgb(253, 253, 253);
    font-family: 'Nanum Myeongjo', serif;

}

#sec84 {
    background-color: #360f0f;
}

#p82 {
    color: rgb(253, 253, 253);
    font-size: 2.5rem;
    font-family: 'DM Serif Display', serif;
    padding-top: 70px;
    padding-bottom: 50px;
}

#sec91 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 100px;
    align-items: center;
    background-color: #360f0f;
}

#div92 {
    margin-right: 385px;
    font-size: 1.5rem;
    color: rgb(253, 253, 253);
}

#div91 {
    width: 30%;
}

#div91>img {
    width: 100%;
    margin: 20px;
}

#div93>a {
    /* margin: 20px; */
    padding-right: 40px;
}

#sec92 {
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    height: 700px;
    border-radius: 600px;
    background-color: #360f0f;
}

#sec93 {
    padding-top: 50px;
}

.p91 {
    color: rgb(253, 253, 253);
    font-size: 1.6rem;
    font-family: 'DM Serif Display', serif;

}

.p92 {
    color: rgb(253, 253, 253);
    font-family: 'Nanum Myeongjo', serif;

}

#p93 {
    color: rgb(253, 253, 253);
    font-size: 2.5rem;
    font-family: 'DM Serif Display', serif;
    background-color: #360f0f;
    margin-top: 70px;
    border-radius: 40px;
    width: 40%;
    margin-left: 380px;
}