*
{
    margin: 0px;
}

#nav13
{
    display: flex;
}

#nav11
{
    opacity: 0.9;
    font-family: 'Patrick Hand SC', cursive;
    color: #360f0f;
    margin: 0px;
    height: 100px;
    width: 15%;
    padding-top: 20px;
    background-image: url(logo.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div11
{
    font-size: 1.3rem;
    padding-top: 20px;
}

#nav12
{
    padding-top: 50px;
    display: flex;
    gap: 350px;
    width: 1100px;
    background-color: #360f0f;
}

#div12
{
    padding-top: 10px;
    padding-left: 50px;
}

#div12>a{
    padding-right: 40px;
    color: rgb(206, 225, 241);
    text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#sec11
{
   height: 500px;
   background-image: url(head2.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#table11
{
    padding-top: 70px;
    background-color: #360f0f;
}

#td11
{
    font-family: 'Salsa', cursive;
    padding-top: 50px;
    color: rgb(206, 225, 241);
    font-size: 3.0rem;
    width: 50%;
}

#p11
{
    margin-top: -10px;
}

#sec12
{
    background-color: rgb(237, 196, 12);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -1130px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
     rgba(0, 0, 0, 0.09) 0px 4px 2px, 
     rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin-left: 200px;
    margin-right: 200px;
    border-color: rgb(206, 225, 241);
    border-radius: 40px;
}

#sec13
{
   display: grid;
   grid-template-columns: auto auto auto;
   margin-top: 0px;
   background-color: #360f0f;
}

.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Salsa', cursive;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.0;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-bottom: 10px;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.div13
{
    /* background-color: #FF9A5A; */
    margin-left: 140px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 150px;
}

h1
{
    padding-top: 10px;
    
}

p
{
    font-size: 1.3rem;
    color: rgb(206, 225, 241);
    padding-left: 30px;
    padding-bottom: 0px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

img{
    width: 50%;
}
